## Importing and Organizing Your Data in Python - Part II

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

In [1]:
from pandas_datareader import data as wb
F = wb.DataReader('F', data_source='morningstar', start='2005-1-1')
F

                   Close     High     Low   Open    Volume
Symbol Date
F      2005-01-03  14.71  14.7500  14.510  14.66   9851200
       2005-01-04  14.66  14.7500  14.590  14.71   8826200
       2005-01-05  14.43  14.6600  14.420  14.63  11305900
       2005-01-06  14.45  14.5200  14.370  14.40   6665100
       2005-01-07  14.65  14.6500  14.450  14.48  11452500
       2005-01-10  14.55  14.5900  14.480  14.49   9906000
       2005-01-11  14.43  14.5500  14.350  14.55  10175600
       2005-01-12  14.32  14.4500  14.240  14.43  13804700
       2005-01-13  14.08  14.3400  14.040  14.34  10970100
       2005-01-14  14.06  14.1500  14.010  14.04   9362700
       2005-01-17  14.06  14.1500  14.010  14.04         0
       2005-01-18  14.08  14.1500  13.910  13.96  10236600
       2005-01-19  13.93  14.2700  13.920  14.08   6284800
       2005-01-20  13.46  13.7500  13.400  13.55  14215100
       2005-01-21  13.11  13.4600  13.100  13.46  12310500
       2005-01-24  13.07  13.3000  13.050  13.12  10294700
       2005-01-25  13.23  13.4200  13.070  13.07  11563800
       2005-01-26  13.35  13.3600  13.170  13.28   6758000
       2005-01-27  13.19  13.3100  13.170  13.26   6280700
       2005-01-28  13.14  13.2500  13.040  13.15   9253800
       2005-01-31  13.17  13.2900  13.110  13.25   6971900
       2005-02-01  13.08  13.2800  13.010  13.27   9125700
       2005-02-02  13.27  13.3800  13.080  13.18   6958400
       2005-02-03  13.11  13.2500  13.060  13.17   8564200
       2005-02-04  13.22  13.2600  13.150  13.21   5736000
       2005-02-07  13.42  13.5400  13.240  13.29   8955200
       2005-02-08  13.16  13.4400  13.150  13.24   9647400
       2005-02-09  13.12  13.1900  13.040  13.10   8366300
       2005-02-10  13.10  13.2100  13.060  13.11   7250200
       2005-02-11  13.06  13.1900  13.040  13.09   8347500
...                  ...      ...     ...    ...       ...
       2018-05-03  11.20  11.2100  10.970  11.17  38907404
       2018-05-04  11.36  11.4100  11.090  11.16  32043467
       2018-05-07  11.34  11.4400  11.310  11.36  27510279
       2018-05-08  11.27  11.3700  11.235  11.32  25754109
       2018-05-09  11.06  11.2800  11.020  11.21  43731958
       2018-05-10  11.21  11.2500  11.020  11.04  32023835
       2018-05-11  11.19  11.2450  11.160  11.22  19837675
       2018-05-14  11.18  11.2900  11.170  11.23  27903121
       2018-05-15  11.22  11.2500  11.060  11.10  26950114
       2018-05-16  11.40  11.4000  11.200  11.21  28976692
       2018-05-17  11.46  11.4800  11.380  11.40  20741087
       2018-05-18  11.33  11.4700  11.300  11.44  23893731
       2018-05-21  11.51  11.5500  11.390  11.42  31011916
       2018-05-22  11.52  11.6350  11.510  11.58  22360885
       2018-05-23  11.44  11.5500  11.330  11.50  23595004
       2018-05-24  11.62  11.6500  11.440  11.45  33348286
       2018-05-25  11.51  11.6050  11.470  11.56  19337470
       2018-05-28  11.51  11.5100  11.510  11.51         0
       2018-05-29  11.44  11.6200  11.360  11.60  31324274
       2018-05-30  11.55  11.6100  11.470  11.53  25018567
       2018-05-31  11.55  11.7350  11.360  11.65  60981761
       2018-06-01  11.71  11.7700  11.610  11.67  35406189
       2018-06-04  11.74  11.7850  11.690  11.74  25141346
       2018-06-05  11.83  11.8675  11.680  11.74  31036704
       2018-06-06  11.97  12.0000  11.820  11.87  31110458
       2018-06-07  12.03  12.1500  11.960  11.97  47314073
       2018-06-08  12.10  12.1200  12.000  12.04  28371881
       2018-06-11  12.03  12.1500  12.020  12.10  30398078
       2018-06-12  12.11  12.1500  12.030  12.07  51395448
       2018-06-13  12.02  12.1000  11.960  12.10  28406733

[3508 rows x 5 columns]

Use the “info” method to obtain basic statistics, regarding the data you extracted in the previous exercise (data from Morningstar for Ford starting from the 1st of January 2005 until today).

In [2]:
F.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3508 entries, (F, 2005-01-03 00:00:00) to (F, 2018-06-13 00:00:00)
Data columns (total 5 columns):
Close     3508 non-null float64
High      3508 non-null float64
Low       3508 non-null float64
Open      3508 non-null float64
Volume    3508 non-null int64
dtypes: float64(4), int64(1)
memory usage: 174.8+ KB

Apply the “head” and “tail” methods and observe the output. How would you interpret the adjusted closing prices?

In [3]:
F.head()

                   Close   High    Low   Open    Volume
Symbol Date
F      2005-01-03  14.71  14.75  14.51  14.66   9851200
       2005-01-04  14.66  14.75  14.59  14.71   8826200
       2005-01-05  14.43  14.66  14.42  14.63  11305900
       2005-01-06  14.45  14.52  14.37  14.40   6665100
       2005-01-07  14.65  14.65  14.45  14.48  11452500

In [4]:
F.tail()

                   Close   High    Low   Open    Volume
Symbol Date
F      2018-06-07  12.03  12.15  11.96  11.97  47314073
       2018-06-08  12.10  12.12  12.00  12.04  28371881
       2018-06-11  12.03  12.15  12.02  12.10  30398078
       2018-06-12  12.11  12.15  12.03  12.07  51395448
       2018-06-13  12.02  12.10  11.96  12.10  28406733

In [5]:
F.head(20)

                   Close   High    Low   Open    Volume
Symbol Date
F      2005-01-03  14.71  14.75  14.51  14.66   9851200
       2005-01-04  14.66  14.75  14.59  14.71   8826200
       2005-01-05  14.43  14.66  14.42  14.63  11305900
       2005-01-06  14.45  14.52  14.37  14.40   6665100
       2005-01-07  14.65  14.65  14.45  14.48  11452500
       2005-01-10  14.55  14.59  14.48  14.49   9906000
       2005-01-11  14.43  14.55  14.35  14.55  10175600
       2005-01-12  14.32  14.45  14.24  14.43  13804700
       2005-01-13  14.08  14.34  14.04  14.34  10970100
       2005-01-14  14.06  14.15  14.01  14.04   9362700
       2005-01-17  14.06  14.15  14.01  14.04         0
       2005-01-18  14.08  14.15  13.91  13.96  10236600
       2005-01-19  13.93  14.27  13.92  14.08   6284800
       2005-01-20  13.46  13.75  13.40  13.55  14215100
       2005-01-21  13.11  13.46  13.10  13.46  12310500
       2005-01-24  13.07  13.30  13.05  13.12  10294700
       2005-01-25  13.23  13.42  13.07  13.07  11563800
       2005-01-26  13.35  13.36  13.17  13.28   6758000
       2005-01-27  13.19  13.31  13.17  13.26   6280700
       2005-01-28  13.14  13.25  13.04  13.15   9253800

In [6]:
F.tail(20)

                   Close     High    Low   Open    Volume
Symbol Date
F      2018-05-17  11.46  11.4800  11.38  11.40  20741087
       2018-05-18  11.33  11.4700  11.30  11.44  23893731
       2018-05-21  11.51  11.5500  11.39  11.42  31011916
       2018-05-22  11.52  11.6350  11.51  11.58  22360885
       2018-05-23  11.44  11.5500  11.33  11.50  23595004
       2018-05-24  11.62  11.6500  11.44  11.45  33348286
       2018-05-25  11.51  11.6050  11.47  11.56  19337470
       2018-05-28  11.51  11.5100  11.51  11.51         0
       2018-05-29  11.44  11.6200  11.36  11.60  31324274
       2018-05-30  11.55  11.6100  11.47  11.53  25018567
       2018-05-31  11.55  11.7350  11.36  11.65  60981761
       2018-06-01  11.71  11.7700  11.61  11.67  35406189
       2018-06-04  11.74  11.7850  11.69  11.74  25141346
       2018-06-05  11.83  11.8675  11.68  11.74  31036704
       2018-06-06  11.97  12.0000  11.82  11.87  31110458
       2018-06-07  12.03  12.1500  11.96  11.97  47314073
       2018-06-08  12.10  12.1200  12.00  12.04  28371881
       2018-06-11  12.03  12.1500  12.02  12.10  30398078
       2018-06-12  12.11  12.1500  12.03  12.07  51395448
       2018-06-13  12.02  12.1000  11.96  12.10  28406733

*****

Repeat this exercise for any stock of interest to you. :)